.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.classCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}